<% provide(:title, 'Actors') %>
<h1>Actors</h1>

<p><% if current_user.admin? %>
    <%= link_to "Add actor", new_actor_path, class: 'btn btn-primary' %>
  <% end %></p>

<p><%= form_tag actors_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</p>

<%= will_paginate %>

<ul class="actors">
  <% @actors.each do |actor| %>
      <li><%= link_to actor.name, actor %></li>
  <% end %>
</ul>

<%= will_paginate %>