<% provide(:title, 'Directors') %>
<h1>Directors</h1>

<p><%= link_to "Add director", new_director_path, class: 'btn btn-primary' %></p>

<p><%= form_tag directors_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</p>

<%= will_paginate %>

<ul class="directors">
  <% @directors.each do |director| %>
      <li><%= link_to director.name, director %></li>
  <% end %>
</ul>

<%= will_paginate %>