<% provide(:title, 'Films') %>
<h1>Films</h1>

<p>
  <% if current_user.admin? %>
    <%= link_to "Add film", new_film_path, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Genres", genres_path, class: 'btn btn-primary' %>
</p>

<p><%= form_tag films_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</p>

<%= will_paginate %>

<ul class="films">
  <% @films.each do |film| %>
      <li><%= link_to film.name, film %></li>
  <% end %>
</ul>

<%= will_paginate %>