<% provide(:title, 'Films') %>
<h1>Films</h1>


  <% if logged_in? %>
      <% if current_user.admin? %>
        <p><%= link_to "Add film", new_film_path, class: 'btn btn-primary' %></p>
    <% end %>
    <p><%= form_tag films_path, :method => 'get' do %>
          <%= select_tag :genre, options_from_collection_for_select(Genre.all, :id, :label) %>
          <%= submit_tag "I wish a film!", :name => nil %>
      <% end %>
    </p>
      <p>
        <%= collection_select :genre, :id, Genre.order(:label), :id, :label, {include_blank: true} %>
        <%= link_to "I wish a film!", recommendation_path, class: 'btn btn-primary' %>
      </p>
  <% end %>

  <%= link_to "Genres", genres_path, class: 'btn btn-primary' %>


<p><%= form_tag films_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</p>

<h2>Popular films</h2>

<% previous_page = params[:page].to_i %>
<% previous_page -= 1 %>

<% next_page = params[:page].to_i %>
<% next_page += 1 %>

<ul class="films">
  <% if previous_page != 0 %>
      <%= link_to "Previous", films_path(:page => previous_page), class: 'previous' %>
  <% end %>
  <% if next_page < @films.total_pages.to_i %>
      <%= link_to "Next", films_path(:page => next_page), class: 'next' %>
  <% end %>

  <% @films.results.each do |film| %>
      <li><%= link_to film.title, film_path(:id => film.id) %></li>
  <% end %>

  <% if previous_page != 0 %>
      <%= link_to "Previous", films_path(:page => previous_page), class: 'previous' %>
  <% end %>
  <% if next_page < @films.total_pages.to_i %>
      <%= link_to "Next", films_path(:page => next_page), class: 'next' %>
  <% end %>
</ul>



