<% provide(:title, 'New Film') %>
<h1>New Film</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:film, url: films_path) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :created_at %>
        <%= f.date_field :created_at, class: 'form-control' %>

        <%= f.label :length %>
        <%= f.number_field :length, class: 'form-control' %>

        <%= f.label :rating %>
        <%= f.number_field :rating, class: 'form-control' %>

        <%= collection_check_boxes(:FilmGenre, :genre_id, Genre.all, :id, :label) %>

        <%= f.label :actor_ids, "Actors" %>
        <%= f.collection_select :actor_ids, Actor.order(:name), :id, :name, {}, {multiple: true} %>

        <br>
        <%= f.label :content %>
        <%= f.text_area :content, :rows => "10", class: 'form-control' %>

        <%= f.submit "Add new film", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
