<% provide(:title, 'Films') %>
<h1>Films</h1>


<% if logged_in? %>
    <% if current_user.admin? %>
        <p><%= link_to "Add film", new_film_path, class: 'btn btn-primary' %></p>
    <% end %>
<% end %>

<p><%= form_tag films_search_path(:page => 1), :method => 'get' do %>
      <%= select_tag :genre, options_for_select(Tmdb::Genre.movie_list.map{ |genre| [genre.name, "#{genre.id}"]}, params[:genre]), include_blank: true%>
      <%= text_field_tag :search %>
      <%= submit_tag "Search", :name => nil %>
  <% end %></p>
<p>

<h2>Results for '<%= @search %>' </h2>

<% previous_page = params[:page].to_i %>
<% previous_page -= 1 %>

<% next_page = params[:page].to_i %>
<% next_page += 1 %>

<ul class="films">
  <% if previous_page != 0 %>
      <%= link_to "Previous", films_search_path(:search => @search, :page => previous_page), class: 'previous' %>
  <% end %>
  <% if next_page < @films.total_pages.to_i %>
      <%= link_to "Next", films_search_path(:search => @search, :page => next_page), class: 'next' %>
  <% end %>

  <% @films.results.each do |film| %>
      <li><%= link_to film.title, film_path(:id => film.id) %></li>
  <% end %>

  <% if previous_page != 0 %>
      <%= link_to "Previous", films_search_path(:search => @search, :page => previous_page), class: 'previous' %>
  <% end %>
  <% if next_page < @films.total_pages.to_i %>
      <%= link_to "Next", films_search_path(:search => @search, :page => next_page), class: 'next' %>
  <% end %>
</ul>



