<% provide(:title, @film.title) %>
<div class="row">
    <section class="film_info">
      <h1>
        <%= @film.title %>
      </h1>

      <p>Rating: <%= @film.vote_average * 10 %> % </p>
      <p>Released at: <%= @film.release_date%></p>
      <p>Length: <%= @film.runtime%> min </p>

      <p>Genres:
        <% @film.genres.each do |g| %>
            <%= g.name %> /
        <% end %>
      </p>

      <% @director = Tmdb::Movie.director(@film.id) %>
      <p>Directors:
        <% @director.each do |d| %>
            <%= link_to d.name, director_path(id: d.id) %>,
        <% end %>
      </p>

      <p>Overview: <%= @film.overview%> </p>

      <% @actors = Tmdb::Movie.cast(@film.id) %>
      <p>Actors:
        <% @actors.each do |a| %>
            <%= link_to a.name, actor_path(id: a.id) %>,
        <% end %>
      </p>



      <p> <% if logged_in? %>
          <%= link_to "Add to my films", new_user_user_film_url(current_user, film_id: @film.id), class: "btn btn-lg btn-primary" %>
      <% end %>
      </p>
    </section>
</div>